examples/hep-flow.json
[{"id":"3de2dbf7.ba42e4","type":"tab","label":"HEP Flow","disabled":false,"info":""},{"id":"41e12910.442d68","type":"hep","z":"3de2dbf7.ba42e4","name":"","property":"payload","x":370,"y":180,"wires":[["10c8ac44.8ed4c4","f8f29602.0a4178"]]},{"id":"45a8661e.3f89e8","type":"inject","z":"3de2dbf7.ba42e4","name":"HEP JSON","topic":"","payload":"{ \t\"rcinfo\": { \t\t\"type\": \"HEP\", \t\t\"version\": 3, \t\t\"payload_type\": \"json\", \t\t\"captureId\": \"2001\", \t\t\"capturePass\": \"myHep\", \t\t\"ip_family\": 2, \t\t\"time_sec\": 1433719443, \t\t\"time_usec\": 979, \t\t\"protocol\": 17, \t\t\"proto_type\": 100, \t\t\"srcIp\": \"192.168.100.1\", \t\t\"dstIp\": \"192.168.1.23\", \t\t\"srcPort\": 5060, \t\t\"dstPort\": 5060 \t}, \t\"payload\": \"TEST!\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":80,"wires":[["41e12910.442d68"]]},{"id":"10c8ac44.8ed4c4","type":"debug","z":"3de2dbf7.ba42e4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":660,"y":140,"wires":[]},{"id":"f8f29602.0a4178","type":"hep","z":"3de2dbf7.ba42e4","name":"","property":"payload","x":550,"y":300,"wires":[["10c8ac44.8ed4c4"]]}]
